/* * significa que é universal, vai alterar todos os elementos*/
* {
  margin: 0;
  padding: 0;
  /*A medida do tamanho da caixa vai ser medida através da borda*/
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(rgba(255, 255, 255, 0.5));
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat; 
  /*Começa do topo no eixo y e centralizado no x*/
  /*background-position: top center;*/
  /*Quando o dispositivo for pequeno, vai adaptar para a tela toda
  background-size: cover;
  */

  /*background: color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /*Margin é para fora e padding é dentro*/
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  /*Funciona apenas com elementos inline*/
  text-align: center;
  padding: 24px;
}

#profile img {
  /*Mantém as propriedades inline mas deixa colocar algumas coisas em block. ATENÇÃOOOOOO: MARGIN: AUTO NÃO FUNCIONA EM ELEMENTOS INLINE */
  /*display: inline-block;*/
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*Switch*/

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  height: 32px;
  width: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  /*Faz sobreposição de camadas*/
  position: absolute;
  top: 50%;
  left: 0;
  /*Muda os "andares*/
  z-index: 1;
  /*Deixa 50% acima da caixa*/
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

.light #switch button {
  /*right: 0;
  left: initial;*/
  /*Forwars mantém as propriedades finais da animação*/
  animation: slide-in 0.2s forwards;
}

#switch button:hover{
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/*Links*/
ul {
  /*Remove os pontinhos da lista*/
  list-style: none;
  /*Faz os itens ficarem um do lado do outro*/
  display: flex;
  flex-direction: column;
  /*Apenas entre elementos, nem em cima nem em baixo*/
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  /*Flex cria uma linha virtual no meio do elemento(main)*/
  display: flex;
  /*Alinha no eixo x*/
  justify-content: center;
  /*Alinha no eixo y*/
  align-items: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  /*Arredondamento da borda*/
  border-radius: 8px;
  /*Tira o sublinhado*/
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}
/*pseudo-selector(sudo-selector)*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
}

/* media queries */
@media (min-width: 700px){
  :root{
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation*/
@keyframes slide-in{
  from {
    left: 0;
  }
  to{
    left: 50%;
  }
}

@keyframes slide-back{
  from {
    left: 50%;
  }
  to{
    left: 50;
  }
}